.img_row_wrapper {
    height: 100vh;
    background: #CFE4FF;
    justify-content: center;
    align-items: center;
}

.img_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 85vh;
    clip-path: polygon(0 9%, 93% 13%, 100% 100%, 3% 92%);
    padding-bottom: 100px;
}

.img {
    width: 95%;
    margin-top: 5vh;
    object-fit: cover;
    clip-path: polygon(0 9%, 93% 13%, 100% 100%, 3% 92%);   
}

.name_wrapper {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    width: 80%;
}

.name {
    font-size: 2em;
    text-transform: uppercase;
}