.img_row_wrapper {
    height: 100vh;
    background: #CFE4FF;
    justify-content: center;
}

.img_wrapper {
    padding: 10px;
    display: grid;
    justify-items: center;
    background-color: #fff;
    height: 85vh;
    clip-path: polygon(0 9%, 93% 13%, 100% 100%, 3% 92%);
}

.img {
    grid-area: 1/1;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0 9%, 93% 13%, 100% 100%, 3% 92%);   
}

.name_wrapper {
    grid-area: 1/1;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    margin-bottom: 6vh;
}

.name {
    color: white;
    padding: 5px;
    background-color: black;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.data_wrapper {
    justify-content: center;
    background-color: #fff;
    color: black;
    text-align: justify;
    padding: 5vh;
}

.data_wrapper_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    font-family: 'Druk Text';
    white-space: pre-line;
}

.performance_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.performance {
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px;
    text-align: center;
}

.performance .date {
    white-space: pre;
}

.performance span {
    margin-top: 3px;
}

.spotify {
	display: block;
	width: 100%;
	min-height: 400px;
    height: 100%;
	flex-grow: 1;
}

@media (max-width: 991px) {
    .spotify {
        height: 300px;
    }
}

@media (max-width: 767px) {

    .img_row_wrapper {
        height: auto;
    }

    .img_wrapper {
        margin-bottom: 3vh;
        height: auto;
    }

    .name_wrapper {
        margin-bottom: 6vw;
    }

    .name {
        font-size: 1.5em;
    }

    .performance {
        font-size: .9rem;
    }
}

@media (max-width: 575px) {
    .description {
        font-size: .8em;
    }

    .performance_wrapper {
        grid-template-columns: 1fr;
    }

    .performance {
        font-size: .8rem;
    }

    .name {
        font-size: 1em;
    }
}

@media (max-width: 399px) { 
    .performance {
        font-size: .5rem;
    }
}