.img_row_wrapper {
    height: 100vh;
    background: #CFE4FF;
    justify-content: center;
}

.img_wrapper {
    padding: 10px;
    display: grid;
    justify-items: center;
    background-color: #fff;
    height: 85vh;
    clip-path: polygon(0 9%, 93% 13%, 100% 100%, 3% 92%);
}

.img {
    grid-area: 1/1;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(0 9%, 93% 13%, 100% 100%, 3% 92%);   
}

.name_wrapper {
    grid-area: 1/1;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    margin-bottom: 6vh;
}

.name {
    color: white;
    padding: 5px;
    background-color: black;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.data_wrapper {
    justify-content: center;
    background-color: #fff;
    color: black;
    text-align: justify;
    padding-top: 5vh;
}

.data_wrapper:last-child {
    padding-bottom: 5vh;
}

.data_wrapper_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    font-family: 'Druk Text';
    white-space: pre-line;
}

.performance_wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.performance_wrapper_wo_media {
    grid-auto-rows: 1fr;
    grid-template-columns: auto;
}

.performance_wrapper_wo_media:last-child:nth-child(2n - 1) {
    grid-column-end: auto;
}

.performance {
    grid-column: span 2;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.performance:last-child:nth-child(2n - 1) {
    grid-column-end: 4;
}

.performance .date {
    white-space: pre;
}

.performance span {
    margin-top: 3px;
}

.media, .media_single {
	display: block;
	width: 100%;
    height: 100%;
	min-height: 400px;
	flex-grow: 1;
}

@media (min-width: 1457px) {
    .media {
        min-height: 600px;
    }
}

@media (max-width: 991px) {
    .media, .media_single {
        height: 300px;
    }

    .media_col, .media_single_col {
        margin-top: 25px;
    }

    .media_col:first-child {
        margin-top: 0;
    }
}

@media (max-width: 767px) {

    .img_row_wrapper {
        height: auto;
    }

    .img_wrapper {
        margin-bottom: 3vh;
        height: auto;
    }

    .name_wrapper {
        margin-bottom: 6vw;
    }

    .name {
        font-size: 1.5em;
    }

    .performance {
        font-size: .9rem;
    }
}

@media (max-width: 575px) {
    .description {
        font-size: .8em;
    }

    .performance_wrapper {
        grid-auto-rows: 1fr;
        grid-template-columns: auto;
    }

    
    .performance:last-child:nth-child(2n - 1) {
        grid-column-end: auto;
    }

    .performance {
        font-size: .8rem;
    }

    .name {
        font-size: 1em;
    }
}

@media (max-width: 399px) { 
    .performance {
        font-size: .5rem;
    }
}