.wrapper {
    justify-content: center;
    min-height: 100vh;
}

.hero_logo {
    width: 60vh;
}

.hero_logo_col {
    background-color: white;
    padding-right: 90px;
    padding-top: 90px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
}

.sponsor_wrapper {
    align-self: center;
    z-index: 12;
}

.sponsor_wrapper a {
    transition: all .2s ease-in-out;
}

.sponsor_wrapper img {
    width: 5rem;
    padding: 10px;
    transition: all .2s ease-in-out;
}

.sponsor_wrapper a:hover {
    background: black;
}

.sponsor_wrapper a:hover img {
    filter: invert();
}

.hero_content {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.hero {
    margin-bottom: -5vw;
}

.jegyek {
    align-self: center;
    background-color: black;
    border: 0 solid white;
    text-decoration: none;
    color: white;
    letter-spacing: 40px;
    text-indent: 40px;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.75rem;
    padding: .75em 1.65em;
    max-width: 460px;
    transform: rotate(-2deg);
}

.jegyek:hover {
    color: white;
}

.jegyek:focus {
    outline: 0;
}

.jegyek:after {
    transition: all .1s ease-in-out;
    content: '';
    position: absolute;
    border: 5px solid white;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.jegyek:hover:after {
    bottom: 2px;
    left: 2px;
}

.content_wrapper {
    padding: 3vh 0;
    background-color: black;
}

.fellepo_wrapper_col ul {
    padding: 0;
    text-align: center;
}

.fellepo_wrapper_col li {
    display: inline;
    font-size: 1.4vw;
}

.fellepo_wrapper_col li a {
    white-space: pre;
}

.fellepo_wrapper_col li:after {
    content: " ";
    letter-spacing: 2em;
    background: center center no-repeat url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 16 16' color='%23CFE4FF' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg' style='color: rgb(207  228  255)%3B'%3E%3Cpath fill-rule='evenodd' d='M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435z'%3E%3C/path%3E%3C/svg%3E");
}

.fellepo_wrapper_col a {
    transition: all .2s ease-in-out;
}

.fellepo_wrapper_col a:hover {
    color: black;
    background-color: white;
}

.main_text {
    color: white;
    text-align: center;
}

.placeholder {
    overflow: hidden;
    background-color: black;
}

@media (max-width: 992px) {

    .hero_logo {
        position: inherit;
        height: 50vh;
        width: 60vw;
        align-self: center;
    }

    .hero_logo_col {
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
        position: inherit;
        height: inherit;
        background-color: white;
        flex-direction: column;
        align-content: center;
        padding: inherit;
        padding-top: 2vw;
        padding-bottom: 12vh;
        padding-right: inherit;
    }

    .jegyek {
        order: 1;
        margin: 50px 0;
    }

    .hero {
        order: 2;
        padding: inherit;
    }

    .sponsor_wrapper {
        margin-right: inherit;
        align-self: center;
    }

    .fellepo_wrapper_col li {
        font-size: 3vw;
    }

    
}

@media (max-width: 800px) {
    .hero_logo_col {
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }

}

@media (max-width: 767px) {
    .jegyek {
        letter-spacing: 24px;
        text-indent: 24px;
        padding: .75em 1.65em;
    }

}

@media (max-width: 576px) {
    .jegyek {
        font-size: 12px;
        letter-spacing: 10px;
        text-indent: 10px;
    }

    .hero_logo {
        width: 80vw;
    }

    .sponsor_wrapper img {
        width: 4.5rem;
    }
}

@media (max-width: 400px) {
    .jegyek {
        font-size: 12px;
        letter-spacing: 10px;
        text-indent: 10px;
    }

    .sponsor_wrapper img {
        width: 100%;
    }
}