.table_wrapper_row {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    min-width: 0;
}

.table_wrapper_col {
    min-width: 0;
}

.table {
	background-color: #EEEEEE !important;
	text-align: center !important;
}


.table thead {
	background-color: rgb(121, 121, 121) !important;
    color: white !important;
}

.header_cell {
    vertical-align: middle;
	font-size: clamp(1em, 2vw, 2.5em) !important;
	font-weight: bold !important;
	color: #FFFFFF !important;
	text-align: center !important;
}

.empty_cell {
    background-color: black !important;
    color: white !important;
}

.artist_cell {
    vertical-align: middle;
    cursor: pointer !important;
    background-color: white !important;
    color: black !important;
}

.artist_name, .artist_name:hover {
    font-size: clamp(1em, 1.3vw, 1.8em)!important;
    color: black !important;
}

.nationality {
    font-size: clamp(.5em, 1vw, 1.2em);
}


.time_cell {
    background-color: black !important;
    color: white !important;
    border: 0 !important;
    font-size: clamp(.8em, 1.3vw, 1.4em) !important;
    padding: 5px 20px !important;
}

.artist_cell, .empty_cell, .header_cell {
    border: solid 1px rgb(121, 121, 121) !important;
	padding: 0px 10px !important;
}