.container {
    width: 80%;
}

.grid_row {
    padding-top: 10vh;
    justify-content: center;
    padding-bottom: 5vh;
}

.main_wrapper {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
}

.artist_wrapper {
    transition: all .2s ease-in-out;
}

.artist_wrapper:hover {
    pointer-events: none;
    filter:  drop-shadow(10px 10px 0px rgb(100 100  100 / 1));
}

.artist_img_wrapper {
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    clip-path: polygon(0 9%, 93% 13%, 100% 100%, 3% 92%);
    transition: all .2s ease-in-out;
}

.artist_img_wrapper:hover {
    clip-path: polygon(0 0%, 100% 13%, 100% 100%, 3% 100%);
}

.artist_img_wrapper:hover > .artist_image{
    clip-path: polygon(0 0%, 100% 13%, 100% 100%, 3% 100%);
}

.artist_image {
    width: 22vw;
    margin-top: 5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    clip-path: polygon(0 9%, 93% 13%, 100% 100%, 3% 92%);
    transition: all .2s ease-in-out;
}

.artist_name {
    text-align: center;
    margin: 1vw 2vw;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 60px;
}


@media (max-width: 768px) {
	
	.main_wrapper{
		grid-template-columns: 1fr 1fr;
		
	}
	
	/* .artist-image-container{
		width: 38vw;
		height: 38vw;
		
	}

	.artist-image{
		width: 30vw;
		margin-top: 1.4vh;
	} */

}

@media (max-width: 480px) {
	
	.main_wrapper{
		grid-template-columns: 1fr;
	}

	/* .artist-image-container{
		width: 80vw;
		height: 80vw;
	}
	
	.artist-image{
		width: 70vw;
		margin-top:2vh;
	} */
}