.main_wrapper {
    display: grid;
    padding-top: 15vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    width: 70%;
    margin: auto;
}

.artist_wrapper {
    /* clip-path: polygon(0 0, 100% 7%, 100% 100%, 0 93%); */
   
    
}

.artist_img_wrapper {
    padding: 50px;
    clip-path: polygon(0% 0%, 0 90%, 11% 74%, 15% 20%, 88% 20%, 85% 84%, 11% 74%, 0 90%, 100% 100%, 100% 10%);
    background-color: white;
    /* clip-path: polygon(0 0, 100% 0, 93% 100%, 0 93%); */
}

.artist_image {

}

.artist_name {
    padding-top: 90px;
    background-color: black;
    color: white;
}

/* .artist_name h4 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
} */
