.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
    padding-bottom: 5vh;
    width: 75%;
}

@media (max-width: 1400px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 766px) {
    .wrapper {
        grid-template-columns: 1fr;
        gap: 5vw;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}